/* -------------------------------- VARIABLES ------------------------------- */
$mainFont: "Orbitron", sans-serif;
//   "Lexend", sans-serif;
// "Inter", sans-serif;
//   "Raleway", sans-serif;

// COLORES
// AZUL 46, 102, 221

$letterColor: rgba(250, 250, 250, 0.675);
$letterBlue: #303030;
$gray: #ececec;
$darkGray: #222831;
$mediumGray: #29303a;
$ligthGray: #3f4a57;
$darkBlue: #30475eea;
$red: #f05454;
$blue: rgb(46, 102, 221);
$mediumBlue: rgba(46, 101, 221, 0.466);
/* -------------------------------------------------------------------------- */
/* --------------------- RESET DE STYLES DEFAULT BROWSER -------------------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $mainFont;
}
/* --------------------------- HEADER & NAV STYLES -------------------------- */

.mainHeader {
  max-height: 800px;
  overflow-y: hidden;
  .headerBefore {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
  }
  #carouselExampleSlidesOnly {
    position: relative;
  }
  .filter {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $blue;
    opacity: 0.5;
  }
}
.logo__contactWidgets__container {
  background-color: $gray;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    width: 100px;
    height: 100px;
    background-color: $blue;
    margin-left: 30px;
  }
  .contactWidgets {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 300;
    margin-right: 30px;
    color: $letterBlue;
  }
  .contactWidgets [class*="icon-"]:before {
    position: relative;
    font-size: 23px;
    top: 3px;
    right: 10px;
  }
}

.mainNav {
  .btnMenuContainer {
    background-color: $darkGray;
    padding: 10px;
    display: block;
    color: $gray;
    font-size: 2em;
    text-align: end;
    width: 100%;
  }
  .menuItem {
    font-size: 20px;
  }
  .menu,
  .submenu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .menu {
    background-color: $mediumGray;
    width: 100%;
    margin-left: -100%;
    transition: all 0.4s;
  }
  .menu-link {
    display: block;
    padding: 20px;
    color: $letterColor;
    text-decoration: none;
  }
  .submenu {
    height: 0;
    overflow: hidden;
    transition: all 0.4s;
  }
  .submenu {
    .menu-link {
      background-color: $ligthGray;
      padding-left: 50px;
      font-size: 15px;
    }
  }
  .menu-link [class*="icon-"]:before {
    position: relative;
    top: 4px;
  }
  .mostrar {
    margin-left: 0;
  }
  #btnMenu:hover {
    color: $blue;
    cursor: pointer;
    transition: 0.4s;
  }
  .select {
    color: $blue;
  }
  .menu .menu-link:hover {
    color: #fff;
    transition: all 0.3s;
  }
  .submenu .menu-link:hover {
    color: $blue;
    transition: all 0.3s;
  }
}

/* ------------------------------ ESTILOS MAIN ------------------------------ */

.main {
  .sectionOne,
  .sectionTwo,
  .contactForm {
    .title {
      margin-bottom: 30px;
      font-size: 35px;
      font-weight: 500;
    }
    .parrafo {
      text-align: justify;
    }
    .txtContainer {
      text-align: center;
      padding: 50px;
      background-color: #3943;
      max-width: 1024px;
      margin: auto;
    }
  }
}
.mainFooter {
  .mainFooterSection__container {
    width: 100%;
    height: 300px;
    background-color: $ligthGray;
    color: $letterColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mainFooterSection-content {
    background-color: rgb(119, 203, 206);
    width: 50%;
    height: 80%;
  }
}

/* ------------------------------ ESTILOS FORM ------------------------------ */

.contactForm {
  display: block;
  width: 100%;
  .contactForm__txtContainer {
    margin: 0 auto;
    max-width: 1024px;
    text-align: center;
  }
  .formContainer {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0px 20px 20px 20px;
  }
  .form {
    width: 95%;
    margin: 0 auto;
    border: 0.5px solid $ligthGray;
    border-radius: 5px;
    label {
      display: block;
      padding: 20px 0;
      width: 280px;
      margin: 0 auto;
    }
    input {
      display: block;
      width: 280px;
      height: 40px;
      border: 0.5px solid $ligthGray;
      border-radius: 5px;
      margin: 0 auto;
    }
    textarea {
      border: 0.5px solid $ligthGray;
      border-radius: 5px;
      max-width: 280px;
      max-height: 300px;
      display: block;
      margin: 0 auto;
      margin-top: 10px;
      margin-bottom: 30px;
    }
    .btnForm {
      margin-bottom: 25px;
      color: $letterColor;
      background: #495767;
    }
    .btnForm:hover {
      color: #fff;
      transition: 0.4s;
      background-color: $blue;
      border: none;
    }
  }
}

/* ------------------------------- RESPONSIVE ------------------------------- */
@media only screen and (max-width: "600px") {
  .mainGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 160px 1fr;
    grid-template-areas:
      "head"
      "slider";

    .mainGrid__slider {
      grid-area: slider;
    }

    .headerBefore {
      grid-area: head;
    }
  }
}

@media only screen and (min-width: "1024px") {
  .mainNav {
    .btnMenuContainer {
      display: none;
    }
    .menu {
      margin-left: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .container-submenu {
      position: relative;
    }
    .submenu {
      position: absolute;
      top: 70px;
      width: 200px;
      overflow: visible;
      z-index: 100;
      opacity: 0;
      visibility: hidden;
      .menu-link {
        padding: 12px 0;
        text-align: center;
        width: 200px;
      }
    }
    .container-submenu:hover .submenu {
      opacity: 1;
      visibility: visible;
    }
  }
}
