/* -------------------------------- VARIABLES ------------------------------- */
$mainFont: "Orbitron", sans-serif;
//   "Lexend", sans-serif;
// "Inter", sans-serif;
//   "Raleway", sans-serif;

// COLORES
// AZUL 46, 102, 221

$letterColor: rgba(250, 250, 250, 0.675);
$letterBlue: #303030;
$gray: #ececec;
$darkGray: #222831;
$mediumGray: #29303a;
$ligthGray: #394350;
$darkBlue: #30475eea;
$red: #f05454;
$blue: rgb(46, 102, 221);
$mediumBlue: rgba(46, 101, 221, 0.466);
/* -------------------------------------------------------------------------- */
/* --------------------- RESET DE STYLES DEFAULT BROWSER -------------------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $mainFont;
}
/* --------------------------- HEADER & NAV STYLES -------------------------- */

.mainHeader {
  max-height: 800px;
  overflow-y: hidden;
  .headerBefore {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
  }
}
.logo__contactWidgets__container {
  background-color: $gray;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    width: 100px;
    height: 100px;
    background-color: $blue;
    margin-left: 30px;
  }
  .contactWidgets {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 300;
    margin-right: 30px;
    color: $letterBlue;
  }
  .contactWidgets [class*="icon-"]:before {
    position: relative;
    font-size: 23px;
    top: 3px;
    right: 10px;
  }
}

.mainNav {
  .nav-bar {
    background-color: $darkGray;
    padding: 10px;
    display: block;
    color: $gray;
    font-size: 2em;
    text-align: end;
    cursor: pointer;
    width: 100%;
  }
  .menuItem {
    font-size: 20px;
  }
  .menu,
  .submenu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .menu {
    background-color: $mediumGray;
    width: 100%;
    margin-left: -100%;
    transition: all 0.4s;
  }
  .menu-link {
    display: block;
    padding: 20px;
    color: $letterColor;
    text-decoration: none;
  }
  .submenu {
    height: 0;
    overflow: hidden;
    transition: all 0.4s;
  }
  .submenu {
    .menu-link {
      background-color: $ligthGray;
      padding-left: 50px;
      font-size: 15px;
    }
  }
  .menu-link [class*="icon-"]:before {
    position: relative;
    top: 4px;
  }
  .mostrar {
    margin-left: 0;
  }
}

/* ------------------------------- RESPONSIVE ------------------------------- */
@media only screen and (max-width: "600px") {
  .mainGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 160px 1fr;
    grid-template-areas:
      "head"
      "slider";

    .mainGrid__slider {
      grid-area: slider;
    }

    .headerBefore {
      grid-area: head;
    }
  }
}

@media only screen and (min-width: "1024px") {
  .mainNav {
    .nav-bar {
      display: none;
    }
    .menu {
      margin-left: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .container-submenu {
      position: relative;
    }
    .submenu {
      position: absolute;
      top: 70px;
      width: 200px;
      overflow: visible;
      z-index: 100;
      opacity: 0;
      visibility: hidden;
      .menu-link {
        padding: 12px 0;
        text-align: center;
        width: 200px;
      }
    }
    .container-submenu:hover .submenu {
      opacity: 1;
      visibility: visible;
    }
    .select {
      color: $blue;
    }
    .menu .menu-link:hover {
      color: #fff;
      transition: all 0.3s;
    }
    .submenu .menu-link:hover {
      color: $blue;
      transition: all 0.3s;
    }
  }
}

/* 
margin-top: 0;
  background-color: $darkGray;
  width: 100%;
  .icon-menu {
    display: none;
  }
  .menu {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    .menuItem [class*="icon-"]:before {
      position: relative;
      top: 3px;
      left: 2px;
      font-size: 20px;
      border: none;
    }
    .menuItem {
      padding: 15px;
      .animation_border {
        text-decoration: none;
        font-size: 18px;
        font-weight: 500;
        color: $letterColor;
        padding-bottom: 0;
        position: relative;
      }
      .animation_border:after {
        content: "";
        position: absolute;
        background-color: $blue;
        height: 3px;
        width: 0;
        left: 0;
        bottom: -10px;
        transition: 0.4s;
      }
      .animation_border:hover {
        color: #fff;
      }
      .animation_border:hover:after {
        width: 100%;
      }
      .select {
        color: $blue;
      }
    }
  }
  .submenu {
    list-style: none;
    background-color: $ligthGray;
    padding-left: 10px;
    margin-top: 15px;
  }

  .submenuItem {
    padding: 6px;
  }
  .submenu-link {
    text-decoration: none;
    color: $mediumBlue;
  }
  .submenu-link:hover {
    color: $letterColor;
    transition: 0.4s;
  }
 */
