$letterColor: rgba(246, 246, 246, 0.675);

main {
  .grid__services {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    .containerFlex {
      max-width: 1000px;
      margin: auto;
      background-color: $letterColor;
      display: flex;
    }
    .imgContainer {
      width: 50%;
      img {
        width: 100%;
        height: 350px;
      }
    }
    .txtContainer {
      width: 45%;
      margin: auto;
      text-align: center;
      h5 {
        padding-bottom: 40px;
      }
      p {
        text-align: justify;
      }
    }
  }
}

@media only screen and (max-width: "600px") {
  .main {
    .grid__services {
      margin-top: 0;
      .imgContainer {
        img {
          height: 250px;
        }
      }
      .txtContainer {
        h5 {
          padding: 10px;
          margin-top: -12px;
        }
        p {
          font-size: 12px;
        }
      }
    }
  }
}
